<div class="container-fluid">

  <nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {{ (page * pageSize) + 1 }}
        to
        {{ (page * pageSize) + trades.length }}
        of
        {{ trades.length < pageSize ? page * pageSize + trades.length : ((page * pageSize) + trades.length) + '+' }}
      </li>
    </ul>

    <div class="btn-group" role="group">
      <button type="button"
              [attr.disabled]="page === 0 ? '' : null"
              class="btn btn-outline-primary"
              (click)="gotoPreviousPage()"
      >Previous
      </button>
      <button type="button"
              class="btn btn-outline-primary"
              [attr.disabled]="trades.length < pageSize ? '' : null"
              (click)="gotoNextPage()"
      >Next
      </button>
    </div>

    <button class="btn btn-outline-secondary ml-2" (click)="refresh()">Refresh</button>
  </nav>

  <table class="table table-sm">
    <tr>
      <th>Close Time</th>
      <th>Symbol</th>
      <th>Status</th>
      <th>Percent</th>
    </tr>
    <tr *ngFor="let trade of trades" [ngClass]="trade.__rowClassName">
      <td>
        {{trade.CloseTime | date:"LLL dd HH:mm:ss"}}
        <br/>
        <span style="font-size: 0.75rem"><a
            [routerLink]="['/trade', trade.TradeID]">{{trade.TradeID}}</a></span>
      </td>
      <td>{{trade.Symbol}}</td>
      <td>{{trade.Status}}</td>
      <td>{{trade.ProfitPercent | number:".3-3"}}%</td>
    </tr>
  </table>

</div>
